<md-sidenav-container>
  <section class="mat-typography">
    <md-sidenav #sidenav>

      <h2>AVA</h2>

      <md-nav-list>
        <a md-list-item href="..." ><i class="fa fa-tasks" aria-hidden="true"></i> System </a>
        <a md-list-item href="..." ><i class="fa fa-home" aria-hidden="true"></i> Home </a>
        <a md-list-item href="..." ><i class="fa fa-hdd-o" aria-hidden="true"></i> NAS </a>
        <a md-list-item href="..." ><i class="fa fa-car" aria-hidden="true"></i> Drone </a>
        <a md-list-item href="..." ><i class="fa fa-cogs" aria-hidden="true"></i> Settings </a>
      </md-nav-list>
    </md-sidenav>


    <md-toolbar color="primary">
      <button md-button (click)="sidenav.open()">
        <i  class="fa fa-bars" aria-hidden="true"></i>
      </button>
    </md-toolbar>

    <router-outlet></router-outlet>
  </section>
</md-sidenav-container>
