<section class="mat-typography">
  <md-card id="login-card">
    <img md-card-image src="assets/img/examples/shiba2.jpg">
    <md-card-content>

      <md-form-field class="login-input">
        <input mdInput type="text" placeholder="Username">
      </md-form-field>

      <md-form-field class="login-input">
        <input mdInput type="password" placeholder="Password">
      </md-form-field>

    </md-card-content>
    <md-card-actions class="login-input">
      <button class="login-btn" md-button>LOGIN</button>
      <button class="login-btn" md-button>CREATE</button>
    </md-card-actions>
  </md-card>
</section>

